<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ng-if="userType==0"><a ui-sref="home" class="button icon-left ion-chevron-left button-clear button-dark" style="color: #fff;">Back</a></div>
            <div ng-if="userType==1"><a ui-sref="washer-home" class="button icon-left ion-chevron-left button-clear button-dark" style="color: #fff;">Back</a></div>
            <h1 class="title">Contact Us</h1>
        </ion-header-bar>
        <div class="contact_main">
            <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
                <div class="custom_contct">
                    <!-- <img src="images/logo.png" style="width: 240px;"> -->
                    <img src="images/logo-new.png" style="width: 150px; margin-top: 10px;">
                </div>
                <div style="padding:2%;" class="custom_img">
                    <p><span><img src="images/placeholder.png"></span><span>ICarWashMi inc. 3400 woodchase dr<br>Apt 2427 Houston Texas 77042</span></p>
                    <p><span><img src="images/old-typical-phone.png"></span><span>832-701-3655</span></p>
                    <P><span><img src="images/world-wide-web.png"></span><span>www.carwashmi.com</span></P>
                </div>
            </ion-content>
        </div>
    </ion-pane>
</ion-view>