<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide class="slide_1">
    <div class="box blue custom_slide">
      <img src="images/logo-new.png" style="height: 150px;">
      <p>Welcome To CarWashMi</p>
      <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
           Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide>
  <ion-slide class="slide_2">
    <div class="box pink custom_slide">
      <img src="images/client_washer.png" style="height: 270px;">
      <p>Client sends vehicle wash requests to nearby mobile washers</p>
      <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide>
<!--   <ion-slide class="slide_3">
    <div class="box yellow custom_slide">
      <p>Client Approaches Washers</p>
      <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide> -->
  <ion-slide class="slide_4">
    <div class="box pink custom_slide">
      <p>Washer approaches client after accepting request.</p>
     <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide>
  <ion-slide class="slide_5">
    <div class="box pink custom_slide">
      <p>Rate Your Washer</p>
      <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide>  
  <ion-slide class="slide_6">
    <div class="box pink custom_slide">
      <div class="custom_end_slide">
        <h2>Our Services</h2>
        <div>
          <h4>Fast Wash</h4>
          <ul>
            <li>Hand Wash (exterior + tire)</li>
            <li> Vacuum</li>
          </ul>
        </div>
        <div>
          <h4>Standard Wash</h4>
          <ul>
              <li>Hand Wash (exterior + tire)</li>
              <li> Vacuum + Wipe Down</li>
              <li> Tire Shine</li>
          </ul>
        </div>
        <div>
          <h4> Elite Wash</h4>
          <ul>
              <li>Standard + Full interior Shine</li>
          </ul>
        </div>
        <div>
          <h4> Premium Wash</h4>
          <ul>
            <li>Standard + Interior Tire</li>
            <li> Leather seat treatment</li>
            <li> Exterior Waxing</li>
          </ul>
        </div>
      </div>
      <button class="button button-positive no-animation" ng-click="startApp()" ng-show="!slideIndex">
            Skip<i class="icon ion-ios-arrow-right"></i><i class="icon ion-ios-arrow-right"></i>
          </button>
    </div>
  </ion-slide> 
</ion-slide-box>

