<ion-view>
    <div class="splash-body"></div>
    <div class="infoicon"><i ui-sref="info" class="info icon ion-android-alert"></i></div>
    <ion-content class="has-header" overflow-scroll="false" has-bouncing="true">
        <div class="splash-ui">
            <ul>
                <li><img src="images/logo-new.png" alt="logo"/></li>
                <li><a ui-sref="login">
                    <button class="login-but">Login with Email</button>
                </a></li>
                <li><a ui-sref="choose-user">
                    <button class="signup-but">Signup with Email</button>
                </a></li>
            </ul>
        </div>
    </ion-content>
</ion-view>