<ion-view class="splash-screen">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div><i ui-sref="legalwasher" class="icon ion-arrow-left-c" style="color: #fff;font-size: 30px;"></i></div>
            <h1 class="title">PRICING</h1>
        </ion-header-bar>
        <ion-content overflow-scroll="false" has-bouncing="true" class="has-header">
            <!--	<div style="font-size:15px;">

            <div style="position:relative; left:2%;">
            <div style="font-style:bold;"><h4>QUICK WASH  $ 14 </h4></div>
            <div style="color:#607D8B"> - Hand wash(exterior and tire)</div></br>
             <div style="color:#607D8B;">- Vacuum.</div>
            <div style="font-style:bold;padding-top:4%"><h4>BASIC Car Care $ 20</h4> </div>
            <div style="color:#607D8B;" Hand wash of exterior including tires.</div><br>
             <div style="color:#607D8B">- Enterior vacuum and wipe down.</div><br>
            <div style="color:#607D8B;">- Tire shine.</div>
            <div style="font-style:bold;padding-top:4%"><h4>DELUX CAR CARE $ </h4></div>
            <div style="color:#607D8B;">- Basic plus full interior shine.</div>
            <div style="font-style:bold;padding-top:4%"><h4>SUPER CLEAN CAR CARE  $ 40 </h4></div>
            <div style="color:#607D8B;">- Delux care plus complete interior care.</div><br>
            <div style="color:#607D8B;">-Leather seat treatment if apllicable.</div><br>
            <div style="color:#607D8B">-Exterior waxing.</div></div>
            </div>
            </div> -->
            <style>
                table, th, td {
                    border: 1px solid black;
                    border-collapse: collapse;
                }

                th, td {
                    padding: 5px;
                }

                th {
                    text-align: left;
                }
            </style>
            <!-- <div class="row">
                <div class="col col-20">
                <h4><br><br><br>FastWash <br><br><br><br><span style="position:relative;bottom:15px;">Elite Wash</span> <br><br><br><br><span style="position:relative;top:11px;"> Super Wash</span> <br><br><br><br> <span style="position:relative;bottom:40px;">Delux Wash</span> </h4>
                </div>
                <div class="col col-80"> -->
            <div style="padding-top:10%;">
                <table style="width:100%">
                    <tr>
                        <th></th>
                        <th>Small Vehicle</th>
                        <th>Medium Vehicle</th>
                        <th>Large Vehicle</th>
                        <th> Details</th>

                    </tr>
                    <tr>
                        <th><h4> Fast Wash</h4></th>
                        <th> 20$</th>
                        <td>28$</td>
                        <td>30$</td>
                        <th>Hand Wash (exterior + tire) <br> Vacuum</th>

                    </tr>
					<tr>
                        <th><h4> Standard Wash</h4></th>
                        <td>50$</td>
                        <td>55$</td>
                        <td>60$</td>
                        <th>Elite + Full interior Shine</th>

                    </tr>
                    <tr>
                        <th><h4> Elite Wash</h4></th>
                        <td>35$</td>
                        <td>38$</td>
                        <td>40$</td>
                        <th>Hand Wash (exterior + tire) <br> Vacuum + Wipe Down <br> Tire Shine</th>

                    </tr>
                    <tr>
                        <th><h4> Premium Wash</h4></th>
                        <th> 35$</th>
                        <td>50$</td>
                        <td>60$</td>
                        <th>Standard + Interior Tire <br> Leather seat treatment + Exterior Waxing</th>
                    </tr>
                </table>
            </div>
            <!-- </div>
            </div> -->


        </ion-content>
    </ion-pane>
</ion-view>