<ion-view view-title="Privacy-Policy-n" name="Privacy-Policy-view">
    <ion-pane>
        <ion-header-bar align-title="center" class="header-bg">
            <div ng-if="userType==0"><a ui-sref="legal" class="button icon-left ion-chevron-left button-clear button-dark" style="color: #fff;">Back</a></div>
            <div ng-if="userType==1"><a ui-sref="legalwasher" class="button icon-left ion-chevron-left button-clear button-dark" style="color: #fff;">Back</a></div>
            <h1 class="title">Privacy Policy</h1>
        </ion-header-bar>
        
        <ion-content overflow-scroll="true" has-bouncing="true" class="has-header">

            <div class="wrapper">
  
              <div class="half">

                <div class="tab">
                  <input id="tab-one" type="checkbox" name="tabs">
                  <label class="wo" for="tab-one">Effective Date: Augost 4nd 4017</label>
                  <div class="tab-content">
                    <p>Carwashmi inc. collects information about you when you use our mobile applications, websites, and other online services and through other interactions and communications you have with us. This Privacy Statement applies to information collected and used by CarWashMi inc. U.S .</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-two" type="checkbox" name="tabs">
                  <label class="wo" for="tab-two">Scope and Application</label>
                  <div class="tab-content">
                    <p>This Privacy Statement (“Statement") applies to people who use our app or Services to request car washes or car care and any other service we provide (“Users”). This Statement does not apply to information we collect from or about drivers, couriers, partner car wash or care care companies, or any other persons who use the CarWashMi platform under license (collectively “Car Care Professionals (CCP)”). If you interact with the Services as both a User and a CCP, the respective privacy statements apply to your different interactions.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-three" type="checkbox" name="tabs">
                  <label class="wo" for="tab-three">Collection of Information</label>
                  <div class="tab-content">
                    <p>Information You Provide to Us:<br>
                    We collect information you provide directly to us, such as when you create or modify your account, request on-demand services, contact customer support, or otherwise communicate with us. This information may include: name, email, phone number, postal address, profile picture, payment method, special communication notes, and other information you choose to provide.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-4" type="checkbox" name="tabs">
                  <label class="wo" for="tab-4">Information We Collect Through Your Use of Our Services</label>
                  <div class="tab-content">
                    <p>When you use our Services, we collect information about you in the following general categories:</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-5" type="checkbox" name="tabs">
                  <label class="wo" for="tab-5">Location Information</label>
                  <div class="tab-content">
                    <p>When you our servises for car care, we collect precise location data about the trip from the CarWashMi app used by the CCP. If you permit the CarWashMi app to access location services through the permission system used by your mobile operating system (“platform”), we may also collect the precise location of your device when the app is running in the foreground or background. We may also derive your approximate location from your IP address.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-6" type="checkbox" name="tabs">
                  <label class="wo" for="tab-6">Transaction Information:</label>
                  <div class="tab-content">
                    <p>We collect transaction details related to your use of our Services, including the type of service requested, date and time the service was provided, amount charged, distance traveled, and other related transaction details. Additionally, if someone uses your promo code, we may associate your name with that person.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-7" type="checkbox" name="tabs">
                  <label class="wo" for="tab-7">Usage and Preference Information:</label>
                  <div class="tab-content">
                    <p>We collect information about how you and site visitors interact with our Services, preferences expressed, and settings chosen. In some cases we do this through the use of cookies, pixel tags, and similar technologies that create and maintain unique identifiers.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-8" type="checkbox" name="tabs">
                  <label class="wo" for="tab-8">Device Information:</label>
                  <div class="tab-content">
                    <p>We may collect information about your mobile device, including, for example, the hardware model, operating system and version, software and file names and verions, preferred language, unique device identifier, advertising identifiers, serial number, device motion information, and mobile network information</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-9" type="checkbox" name="tabs">
                  <label class="wo" for="tab-9">Call and SMS Data :</label>
                  <div class="tab-content">
                    <p>Our Services facilitate communications between Users and CCP. In connection with facilitating this service, we receive call data, including the date and time of the call or SMS message, the parties’ phone numbers, and the content of the SMS message</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-10" type="checkbox" name="tabs">
                  <label class="wo" for="tab-10">Log Information :</label>
                  <div class="tab-content">
                    <p>When you interact with the Services, we collect server logs, which may include information like device IP address, access dates and times, app features or pages viewed, app crashes and other system activity, type of browser, and the third-party site or service you were using before interacting with our Services.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-11" type="checkbox" name="tabs">
                  <label class="wo" for="tab-11">Important Information About Platform Permissions</label>
                  <div class="tab-content">
                    <p>Most mobile platforms (iOS, Android, etc.) have defined certain types of device data that apps cannot access without your consent. And these platforms have different permission systems for obtaining your consent. The iOS platform will alert you the first time the CarWashMi app wants permission to access certain types of data and will let you consent (or not consent) to that request. Android devices will notify you of the permissions that the CarWashMi app seeks before you first use the app, and your use of the app constitutes your consent. Sometimes these permissions require more explanation than the platforms themselves provide, and the permissions we request will change over time, so we’ve created these pages to serve as authoritative and up-to-date resources for us.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-12" type="checkbox" name="tabs">
                  <label class="wo" for="tab-12">Use of Information</label>
                  <div class="tab-content">
                    <p>We may use the information we collect about you to:<br><br>
                • Provide, maintain, and improve our Services, including, for example, to facilitate payments, send receipts, provide products and services you request (and send related information), develop new features, provide customer support to Users and CCPs, develop safety features, authenticate users, and send product updates and administrative messages;<br><br>
                • Perform internal operations, including, for example, to prevent fraud and abuse of our Services; to troubleshoot software bugs and operational problems; to conduct data analysis, testing, and research; and to monitor and analyze usage and activity trends;<br><br>
                • Send or facilitate communications (i) between you and a CCP, such as estimated times of arrival (ETAs), or (ii) between you and a contact of yours at your direction in connection with your use of certain features, such as referrals, invites, split fare requests, or ETA sharing;<br><br>
                • Send you communications we think will be of interest to you, including information about products, services, promotions, news, and events of Uber and other companies, where permissible and according to
                local applicable laws; and to process contest, sweepstake, or other promotion entries and fulfill any related awards ; <br><br>
                • Personalize and improve the Services, including to provide or recommend features, content, social connections, referrals, and advertisements.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-13" type="checkbox" name="tabs">
                  <label class="wo" for="tab-13">Sharing of Information</label>
                  <div class="tab-content">
                    <p>We may share the information we collect about you as described in this Statement or as described at the time of collection or sharing, including as follows:
                    Through Our Services
                We may share your information: <br><br>
                • With CPPs to enable them to provide the Services you request. For example, we share your name, photo
                (if you provide one), average User rating given by Drivers, and pickup and/or drop-off locations with
                Drivers; <br><br>
                • With third parties to provide you a service you requested through a partnership or promotional
                offering made by a third party or us;<br><br>
                • With the general public if you submit content in a public forum, such as blog comments, social media
                posts, or other features of our Services that are viewable by the general public;<br><br>
                • With third parties with whom you choose to let us share information, for example other apps or
                websites that integrate with our API or Services, or those with an API or Service with which we
                integrate; and<br><br>
                • With your employer (or similar entity) and any necessary third parties engaged by us or your employer.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-14" type="checkbox" name="tabs">
                  <label class="wo" for="tab-14">Other Important Sharing</label>
                  <div class="tab-content">
                    <p>We may share your information:<br><br>
                • With CarWashMi inc. subsidiaries and affiliated entities that provide services or conduct data
                processing on our behalf, or for data centralization and / or logistics purposes;
                • With vendors, consultants, marketing partners, and other service providers who need access to such
                information to carry out work on our behalf; <br><br>
                • In response to a request for information by a competent authority if we believe disclosure is in
                accordance with, or is otherwise required by, any applicable law, regulation, or legal process; <br><br>
                • With law enforcement officials, government authorities, or other third parties if we believe your
                actions are inconsistent with our User agreements, Terms of Service, or policies, or to protect the
                rights, property, or safety of CarWasMi inc. or others; <br><br>
                • In connection with, or during negotiations of, any merger, sale of company assets, consolidation or
                restructuring, financing, or acquisition of all or a portion of our business by or into another company;
                <br><br>
                • If we otherwise notify you and you consent to the sharing; and <br><br>
                • In an aggregated and/or anonymized form which cannot reasonably be used to identify you</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-15" type="checkbox" name="tabs">
                  <label class="wo" for="tab-15">Social Sharing Features</label>
                  <div class="tab-content">
                    <p>The Services may integrate with social sharing features and other related tools which let you share actions you take on our Services with other apps, sites, or media, and vice versa. Your use of such features enables the sharing of information with your friends or the public, depending on the settings you establish with the social sharing service. Please refer to the privacy policies of those social sharing services for more information about how they handle the data you provide to or share through them.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-16" type="checkbox" name="tabs">
                  <label class="wo" for="tab-16">Analytics and Advertising Services Provided by Others</label>
                  <div class="tab-content">
                    <p>We may allow others to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs, and other technologies to identify your device when you visit our site and use our Services, as well as when you visit other online sites and services.</p>
                  </div>
                </div>

                <h4 style="position:relative;left:4%;">Your Choices </h4>

                <div class="tab">
                  <input id="tab-17" type="checkbox" name="tabs">
                  <label class="wo" for="tab-17">Account Information</label>
                  <div class="tab-content">
                    <p>You may correct your account information at any time by logging into your online or in-app account. If you wish to delete your account, please log into your Uber account at carwashmicom or in the app, and the follow the directions.or “Delete my Account” under the “Account and Payment” option. Please note that in some cases we may retain certain information about you as required by law, or for legitimate business purposes to the extent permitted by law. For instance, if you have a standing credit or debt on your account, or if we believe you have committed fraud or violated our Terms, we may seek to resolve the issue before deleting your information</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-18" type="checkbox" name="tabs">
                  <label class="wo" for="tab-18">Access Right</label>
                  <div class="tab-content">
                    <p>CarWashMi inc. will comply with individual’s requests regarding access, correction, and/or deletion of the personal data it stores in accordance with applicable law</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-19" type="checkbox" name="tabs">
                  <label class="wo" for="tab-19">Location Information</label>
                  <div class="tab-content">
                    <p>We request permission for our app’s collection of precise location from your device per the permission system used by your mobile operating system. If you initially permit the collection of this information,
                    you can later disable it by changing the location settings on your mobile device. However, this will limit your ability to use certain features of our Services. Additionally, disabling our app’s collection of precise location from your device will not limit our ability to collect your trip location information from a CCP's device nor our ability to derive approximate location from your IP address.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-20" type="checkbox" name="tabs">
                  <label class="wo" for="tab-20">Promotional Communications</label>
                  <div class="tab-content">
                    <p>You may opt out of receiving promotional messages from us by following the instructions in those messages. If you opt out, we may still send you non-promotional communications, such as those about your account, about Services you have requested, or our ongoing business relations.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-21" type="checkbox" name="tabs">
                  <label class="wo" for="tab-21">Changes to the Statement</label>
                  <div class="tab-content">
                    <p>We may change this Statement from time to time. If we make significant changes in the way we treat your personal information, or to the Statement, we will provide you notice through the Services or by some other means, such as email. Your continued use of the Services after such notice constitutes your
                    consent to the changes. We encourage you to periodically review the Statement for the latest information on our privacy practices.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-22" type="checkbox" name="tabs">
                  <label class="wo" for="tab-22">Label Three</label>
                  <div class="tab-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, architecto, explicabo perferendis nostrum, maxime impedit atque odit sunt pariatur illo obcaecati soluta molestias iure facere dolorum adipisci eum? Saepe, itaque.</p>
                  </div>
                </div>

                <div class="tab">
                  <input id="tab-23" type="checkbox" name="tabs">
                  <label class="wo" for="tab-23">Contact Us</label>
                  <div class="tab-content">
                    <p>If you have any questions about this Privacy Statement, please review the FAQ’s in the “Legal & Privacy” section, where you may also submit your questions, or write us at , CarWashMi inc. Attn: Legal, 3400 woodchase dr. Apt 4447 Houston Texas or call customer care at 834-701-3655.</p>
                  </div>
                </div>

              </div>
  
</div>

            

        </ion-content>
    </ion-pane>
</ion-view>