<ion-view>
    <ion-pane class="splash-screen">
        <div class="bar bar-header header-bg">
            <h1 class="title">Request</h1>
        </div>
        <ion-content overflow-scroll="false" has-bouncing="true">
            <div class="content has-header scuess_request"><!--has-header-expand"-->
                <img src="images/checked.png" alt="image">
                <div class="heading_sucess">Thanks you!</div>
                <p>Your reqruest sucessfully send to <span>{{washer_count}} car washer.</span></p>
                <button ui-sref="home">Wash Again</button>
            </div>
        </ion-content>
    </ion-pane>
</ion-view>